<% include('layout'); %>
<h1>Articles</h1>
<ul>
    <% articles.forEach(article => { %>
        <li><%= article.title %> by <%= article.author %> on <%= article.date %></li>
    <% }) %>
</ul>
<form method="POST" action="/articles">
    <input type="text" name="title" placeholder="Title" required />
    <textarea name="description" placeholder="Description" required></textarea>
    <input type="text" name="author" placeholder="Author" required />
    <button type="submit">Add Article</button>
</form>