<!DOCTYPE html>
<html>
<head>
    <title>Library Portal</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <nav>
        <a href="/about">About Us</a> | 
        <a href="/books">Books</a> | 
        <a href="/articles">Articles</a>
    </nav>
    <div>
        <%- body %>
    </div>
</body>
</html>